@mixin clearfix {
	&::after {
		content: '';
		display: table;
		clear: both;
	}
}

// Media Query Manager

/* 
0 - 600:    Phone
600 - 900:  Tablet Portrait
900 - 1200px: Tablet Landscape
1200 - 1800px: Normal Styles Apply
1800px: Big Desktop 

$breakpoint arguement choices
-phone
-tab-port
-tab-land
-bog-desktop

1 em = 16px
 */

@mixin respond($breakpoint) {
	@if $breakpoint == phone {
		@media only screen and (max-width: 31.25em) {
			@content;
		} // 500px
	}

	@if $breakpoint == gfold-port {
		@media only screen and (max-width: 280px) {
			@content;
		} // 700px
	}

	@if $breakpoint == pixel-5 {
		@media only screen and (max-width: 393px) {
			@content;
		} // 700px
	}

	@if $breakpoint == iphone-se {
		@media only screen and (max-width: 375px) {
			@content;
		} // 500px
	}
	@if $breakpoint == s8-plus {
		@media only screen and (max-width: 360px) {
			@content;
		} // 500px
	}

	@if $breakpoint == s2-ultra {
		@media only screen and (max-width: 412px) {
			@content;
		} // 500px
	}

	@if $breakpoint == iphone-12 {
		@media only screen and (max-width: 390px) {
			@content;
		} // 500px
	}

	@if $breakpoint == iphone-xr {
		@media only screen and (max-width: 414px) {
			@content;
		} // 500px
	}

	@if $breakpoint == surface-duo {
		@media only screen and (max-width: 540px) {
			@content;
		} // 500px
	}

	@if $breakpoint == ipad-mini {
		@media only screen and (max-width: 768px) {
			@content;
		} // 500px
	}

	@if $breakpoint == ipad-air {
		@media only screen and (max-width: 820px) {
			@content;
		} // 500px
	}

	@if $breakpoint == surface-pro {
		@media only screen and (max-width: 912px) {
			@content;
		} // 500px
	}
	@if $breakpoint == tab-port-sm {
		@media only screen and (max-width: 37.5em) {
			@content;
		} // 600px
	}
	@if $breakpoint == gfold-land {
		@media only screen and (max-width: 43.75em) {
			@content;
		} // 700px
	}
	@if $breakpoint == tab-port {
		@media only screen and (max-width: 56.25em) {
			@content;
		} // 900px
	}
	@if $breakpoint == tab-land-sm {
		@media only screen and (max-width: 62.5em) {
			@content;
		} // 1000px
	}
	@if $breakpoint == tab-land {
		@media only screen and (max-width: 75em) {
			@content;
		} // 1200px
	}
	@if $breakpoint == big-desktop {
		@media only screen and (min-width: 112.5em) {
			@content;
		} // 1800px
	}
}
