.subnav {
	width: calc(100vw - 25rem);
	position: fixed;
	top: calc(7rem + 1px);
	left: 25rem;
	z-index: 40;
	background-color: #6c99e1;
	height: 6.5rem;
	padding-right: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;

	@include respond(iphone-xr) {
		width: 100%;
		position: relative;

		top: auto;
		left: auto;
	}
	& .add-event {
		// position: fixed;
		margin: 0 2rem 0 2rem;
		font-size: 4rem;
		font-weight: 500;
		color: $background-color;
		// z-index: 45;
		// right: 2.5rem;
		// top: 8.75rem;
		background-color: transparent;
		text-decoration: none;
		border: none;
	}

	&.no-list {
		justify-content: end;
	}
	& ul {
		list-style: none;
		display: flex;
		margin: 0;
		padding-left: 0;
		& li {
			margin: 0;
			display: flex;

			& button {
				border: none;
				border-right: 1px solid #abd2f8;
				margin: 0;
				width: 10rem;
				background-color: transparent;
				color: $background-color;
				& img {
					height: 3rem;
				}
			}
		}
	}
}

.discover {
	&-main {
		position: fixed;
		top: calc(13.5rem);
		right: 0;
		height: calc(100vh - 13.5rem);
		width: calc(100vw - 25rem);
		display: grid;
		grid-template-columns: repeat(3, 1fr);

		& .card.profile-card {
			height: 25rem;
		}

		& a {
			text-decoration: none;
			display: block;
			height: 100%;
			width: 100%;
		}
	}
}
