.event__browse-container {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	width: 80vw;
	padding: 7rem max(5rem) 0;
	position: fixed;
	top: 7rem;
	right: 0;
	max-height: calc(100vh - 7rem);
	overflow: scroll;
	overflow-x: hidden;
	background-color: transparent;
	z-index: 10;

	& .add-event {
		position: fixed;
		font-size: 4rem;
		font-weight: 500;
		color: #112e5c;
		z-index: 30;
		right: 1.5rem;
		top: 7.25rem;
		background-color: transparent;
		border: none;
	}

	// -ms-overflow-style: none;  /* IE and Edge */
	// scrollbar-width: none;

	@include respond(tab-land-sm) {
		grid-template-columns: repeat(3, 1fr);
	}
	@include respond(gfold-land) {
		grid-template-columns: repeat(2, 1fr);
		width: 70vw;
	}
}
