.popup {
	width: 100vw;
	height: 110vh;
	background-color: rgba($color-black, 0.3);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100000;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;

	&:target {
		opacity: 1;
		visibility: visible;
		transform: scale(1);
	}

	&__header {
		// display: flex;
		margin: 0 auto;
		justify-content: center;

		&--text {
			width: 90%;
			height: 8rem;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 3rem;
			font-weight: 200;
			margin: 0 auto;
			text-align: center;
			border-bottom: 1px solid rgba($color-blue-light-2, 0.7);
		}
	}

	&__content {
		height: 70vh;
		width: 60vh;
		background-color: $color-white;
		position: relative;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		border-radius: 3px;

		&.event-info,
		&.gig-info {
			width: 80rem;
			height: 58rem;
			padding: 0;
			transform: translate(-50%, -55%);

			@include respond(surface-duo) {
				width: 70rem;
				height: 58rem;
			}

			@include respond(iphone-xr) {
				width: 56rem;
				height: 75rem;
			}

			@include respond(pixel-5) {
				width: 53rem;
				height: 75rem;
			}

			@include respond(iphone-se) {
				width: 50rem;
				height: 75rem;
			}
			& .form {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				& .btn {
					width: 18rem;
					padding: 0.75rem;
					border-radius: 50px;
				}
				&__row {
					display: flex;
					align-items: flex-start;

					&.tag-row {
						align-items: end;
					}
					&.text-area {
						display: block;
						margin: 0;
					}

					&.description {
						height: 11rem;
					}
				}
				&__group {
					margin: 1rem auto;
					margin-left: 0;
					padding: 0 7%;
					@include respond(iphone-se) {
						padding: 0 2rem;
					}
					&.text-area {
						padding-right: 0;
						height: 100%;
						& textarea {
							height: 7rem;
						}
					}
					&.image {
						padding-left: 2rem;
					}
				}
				&__label {
					margin-left: 0;

					padding: 0 0.5rem 0.5rem;
				}
			}
		}

		&.gig-info {
			height: 64rem;
		}
	}

	&__close {
		position: absolute;
		right: 1.5rem;
		top: 2rem;
		font-size: 5rem;
		text-decoration: none;
	}
}
