.card.profile-card {
	// height: 25rem;
	width: 20rem;
	margin: 3rem auto;
	display: flex;
	flex-direction: column;
	align-items: start;
	position: relative;

	& .profile-card__text {
		color: black;
		&.location,
		&.occupation {
			font-weight: 500;
		}
	}

	& .profile-card__image {
		display: block;
	}

	& h6 {
		text-align: center;
		font-size: 1.3rem;
		margin-top: 0.5rem;
	}

	& .action-section {
		margin-top: 0.75rem;
		margin-bottom: 0.5rem;
		display: flex;
		width: 100%;
		align-items: center;

		@include respond(iphone-xr) {
			flex-direction: column;
			width: 13rem;
		}

		& a {
			// font-size: 1.2rem;
			display: inline-block;
			text-align: center;
			border: none;
			background-color: $color-offwhite;
			padding-top: 1rem;
			padding-bottom: 1rem;
			width: 50%;
			// width: 8rem;
			text-decoration: none;
			&:first-child {
				border-right: 1px solid $color-blue-dark-1;
				text-align: end;

				padding-right: 1rem;
			}

			&:last-child {
				text-align: left;
				padding-left: 1rem;
			}

			@include respond(iphone-xr) {
				width: 8rem;
				padding-right: 1rem;
				padding-left: 1rem;
				border-bottom: 1px solid $color-blue-dark-1;
			}
		}
	}

	@include respond(phone) {
		height: 22rem;
		width: 19rem;
	}

	@include respond(iphone-xr) {
		height: 10rem;
		width: 80%;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
	}
}

.profile-card {
	&__container {
		border-radius: 15px;
	}
	&__image {
		height: 15rem;
		width: 13rem;
		object-fit: cover;
		border-radius: 100%;
		margin: 1rem auto 0 auto;
		border: 1px solid $color-black;

		@include respond(iphone-xr) {
			height: 8rem;
			width: 8rem;
			margin: 0 1.5rem;
		}
	}
}

.row.profile-card__container {
	margin: 0 auto;
	@include respond(phone) {
		margin-top: 16rem;
	}
}

.profile-card {
	position: relative;
	margin: 1.5rem auto;
	padding: 0px 0.75rem;
	border: none;
	border-radius: 10px;
	box-shadow: $box-shadow-1;

	&__info {
		position: relative;
		bottom: 0;
		margin: auto 0;
	}

	&__anchor {
		margin: 0 auto;
		transition: all 0.2s;
		&:hover {
			transform: scale(1.03);
			text-decoration: none;
		}
	}
}

.profile-card__text {
	margin: 0;
}

.profile__image {
	margin-bottom: 10px;
}

.occupation {
}
