.toolbar {
	padding: 1.5rem 0;
	display: flex;
	justify-content: flex-end;
	z-index: 5;
	@include respond(gfold-land) {
		width: 70vw;
	}

	& .input__section {
		display: inline-block;
		margin-left: 1rem;

		& input[type='date'] {
			//display: none;
			//-webkit-appearance: none;
			width: 16rem;
			padding: 0px;
			margin: 0px;
		}
		& label {
			margin-right: 0.5rem;
			color: $background-color;
		}
	}
}
