.dashboard {
	&-main {
		height: calc(100vh - 13.5rem);
		position: relative;
		top: 6.5rem;

		@include respond(iphone-xr) {
			top: auto;
		}

		&.connections {
			display: flex;
			justify-content: flex-start;
			width: 100%;
			padding: 0 3rem;
			@include respond(iphone-xr) {
				padding: 0;
			}
		}
	}
}
